{% extends 'public/header.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block styleurl %}../../static/stylesheets/view_post.css{% endblock %}

{% block content %}
    <div class="post-content-container row">
        <div class="primary-data white">
            <h4 class="post_title light-blue-text text-darken-4">{{post.title}}</h4>
            <div class="author">By <span class='light-blue-text text-darken-4'>{{post.author}}</span></div>
        </div>
        <div class="main-post-content-container grey lighten-4 col s12 l8">
            {{post.body}}
        </div>
    </div>
{% endblock %}